* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --gray-dark: #8b8b8b;
  --gray-middle: #a6a6a6;
  --gray: #cbcbcb;
  --blue-hightlights: #90ddff;
  --blue-hover: #5cc0ed;
  --blue-pressed: #30a7dc;
  --blue-dark: #00163b;
  --background-blue-light: #f2fbff;
  --background-gray-light: #f5f5f5;
}

html,
body {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  color: var(--preto);
}

button,
select,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  border: 0;
}

ul,
li {
  list-style: none;
}
